body
{
    position: relative;
    z-index: 0;
}

.contacts
{
    width: 40vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -40vw;
    z-index: 2;
    background-color: #3072e2;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    transition: 1s;

    display: flex;
    flex-direction: column;
}

.contacts > .close
{
    position: relative;
}

.contacts > .close > svg
{
    position: absolute;
    top: 20px;
    left: 490px;
}

.contacts > .title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 75px;
}

.contacts > .links
{
    display: grid;
    margin-left: 5%;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: repeat(5,1fr);
    column-gap: 5%;
}

.contacts > .links > .upwork-text , .github-text , .instagram-text , .whatsapp-text , .linkedin-text
{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    font-size: 50px;
}