/* CSS for front end*/
.my-works > .front-end
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CSS for title*/

.my-works > .front-end > .title
{
    margin: auto;
    width: fit-content;
    background-color: #d8eff5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border: 20px solid #3366cc;
    margin-top: 10%;
    font-size: 25px;

    overflow: hidden;
    position: relative;
}

@keyframes shake {  
    0% {transform: rotate(0deg);}
    25% {transform: rotate(10deg);}
    75% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
}

.my-works > .front-end > .title:hover
{
    animation-name: shake;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.my-works > .front-end > .title::before
{
    content: " ";
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 200px;
    background-color: #ffffff;
    transform:  translateX(-350px) rotate(30deg);
    transition: 1s;
    box-shadow: 0px 0px 10px white;
    filter: blur(3px);
}

.my-works > .front-end > .title:hover::before
{
    transform:  translateX(350px) rotate(30deg);
}

/* CSS for main-tab */

.my-works > .front-end > .main-tab
{
    display: grid;
    width: 95vw;
    height: 140vh;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 7fr 3fr;
    column-gap: 50px;
    row-gap: 100px;
    padding: 50px;
}


/* CSS for Layout */

.my-works > .front-end > .main-tab > .layout
{
    font-size: 30px;
    background-color: #70cddd;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: 2fr 6fr 2fr;
    
    height: 100%;
}

.my-works > .front-end > .main-tab > .layout > .header:hover
{
    background-color: #d8eff5;
    transition: 1s;
}

.my-works > .front-end > .main-tab > .layout > .header
{
    margin: 2%;
    background-color: #3072e1;
    grid-column: 1/5;

    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.my-works > .front-end > .main-tab > .layout > .left-side:hover
{
    background-color: #d8eff5;
    transition: 1s;
}

.my-works > .front-end > .main-tab > .layout > .left-side
{
    margin-left: 7%;
    background-color: #3072e1;
    grid-column: 1/2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.my-works > .front-end > .main-tab > .layout > .main:hover
{
    background-color: #d8eff5;
    transition: 1s;
}

.my-works > .front-end > .main-tab > .layout > .main
{
    margin-left: 7%;
    margin-right: 7%;
    background-color: #3072e1;
    grid-column: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.my-works > .front-end > .main-tab > .layout > .right-side:hover
{
    background-color: #d8eff5;
    transition: 1s;
}

.my-works > .front-end > .main-tab > .layout > .right-side
{
    margin-right: 7%;
    background-color: #3072e1;
    grid-column: 3/4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.my-works > .front-end > .main-tab > .layout > .footer:hover
{
    background-color: #d8eff5;
    transition: 1s;
}

.my-works > .front-end > .main-tab > .layout > .footer
{
    margin: 2%;
    background-color: #3072e1;
    grid-column: 1/5;

    border-radius: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*CSS for Levels*/

.my-works > .front-end > .main-tab > .levels
{
    display: grid;
    grid-template-rows: 3;
}

.my-works > .front-end > .main-tab > .levels > .html-level
{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1fr 9fr;
}

.my-works > .front-end > .main-tab > .levels > .html-level > h2
{
    grid-column: 1/3;
    justify-self: center;
    font-size: 50px;
}

.my-works > .front-end > .main-tab > .levels > .html-level > a > svg
{
    z-index: 1;
    margin: auto;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.my-works > .front-end > .main-tab > .levels > .html-level > a
{
    z-index: 1;
}

.my-works > .front-end > .main-tab > .levels > .html-level > a > svg:hover
{
    transform: scale(2,2);
}

.my-works > .front-end > .main-tab > .levels > .html-level > .html-progress-bar
{
    align-self: center;
    background-color: #70cddd;
    z-index: 0;
    border-radius: 20px;
    height: 100px;

    padding: 10px;
}

@keyframes html-progress {
    from {width: 0%;}
    to {width: 70%;}
}

@keyframes css-progress {
    from {width: 0%;}
    to {width: 70%;}
}

@keyframes js-progress {
    from {width: 0%;}
    to {width: 50%;}
}

.my-works > .front-end > .main-tab > .levels > .html-level > .html-progress-bar > .html-progress
{
    width: 0%;
    height: 100%;
    background-color: #d8eff5;
    z-index: 1;
    border-radius: 20px;

    animation-name: none;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.my-works > .front-end > .main-tab > .levels > .css-level
{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1fr 9fr;
}

.my-works > .front-end > .main-tab > .levels > .css-level > h2
{
    grid-column: 1/3;
    justify-self: center;
    font-size: 50px;
}

.my-works > .front-end > .main-tab > .levels > .css-level > a > svg
{
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.my-works > .front-end > .main-tab > .levels > .css-level > a
{
    z-index: 1;
}

.my-works > .front-end > .main-tab > .levels > .css-level > a > svg:hover
{
    transform: scale(2,2);
}

.my-works > .front-end > .main-tab > .levels > .css-level > .css-progress-bar
{
    align-self: center;
    background-color: #70cddd;
    z-index: 0;
    border-radius: 20px;
    height: 100px;
    padding: 10px;
}

.my-works > .front-end > .main-tab > .levels > .css-level > .css-progress-bar > .css-progress
{
    width: 0%;
    height: 100%;
    background-color: #d8eff5;
    z-index: 1;
    border-radius: 20px;

    animation-name: none;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.my-works > .front-end > .main-tab > .levels > .js-level
{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1fr 9fr;
}

.my-works > .front-end > .main-tab > .levels > .js-level > h2
{
    grid-column: 1/3;
    justify-self: center;
    font-size: 50px;
}

.my-works > .front-end > .main-tab > .levels > .js-level > a > svg
{
    z-index: 2;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.my-works > .front-end > .main-tab > .levels > .js-level > a
{
    z-index: 1;
}

.my-works > .front-end > .main-tab > .levels > .js-level > a > svg:hover
{
    transform: scale(2,2);
}

.my-works > .front-end > .main-tab > .levels > .js-level > .js-progress-bar
{
    align-self: center;
    background-color: #70cddd;
    z-index: 0;
    border-radius: 20px;
    height: 100px;

    padding: 10px;
}

.my-works > .front-end > .main-tab > .levels > .js-level > .js-progress-bar > .js-progress
{
    width: 0%;
    height: 100%;
    background-color: #d8eff5;
    z-index: 2;
    border-radius: 20px;

    animation-name: none;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}

/*CSS for info*/

.my-works > .front-end > .main-tab > .info
{
    grid-column: 1/3;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    font-size: 25px;
}