/* navigation section */

.nav
{
    /*Center the navigation p*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #3072e2;
    z-index: 2;
}

.nav > p
{
    /*structure it look like a Nav*/
    float: left;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    font-weight: bold;
}

.nav > p:hover
{
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: blue;
}

@media only screen and (max-width: 600px)
{
    .nav
    {
        width: 100vw;
    }

    .nav > p
    {
        /*structure it look like a Nav*/
        float: left;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
        font-weight: bold;
    }
}